<link rel="stylesheet" href="/css/pages/index.css">

<form class="header" method="post">
    <h1 class="title">Music API</h1>

    <div class="auth-group">
        {{#if logged}}
            <button type="button" class="auth" onclick="copyToken(this, '{{token}}')">
                <ion-icon name="clipboard-outline"></ion-icon>
                Copy token
            </button>
            <a href="/logout" class="auth auth--secondary">
                <ion-icon name="log-out-outline"></ion-icon>
                Logout
            </a>
        {{else}}
            <a href="/login" class="auth">Login</a>
            <a href="/register" class="auth auth--secondary">Register</a>
        {{/if}}
    </div>

    <div class="searchbar">
        <div class="dropdown">
            <p>By group name</p>
            <input type="hidden" name="by" value="By group name">
            <ion-icon name="chevron-down-outline"></ion-icon>
            <div class="select">
                <span class="selected">By group name</span>
                <span>By member name</span>
                <span>By creation date</span>
            </div>
        </div>
        <input type="text" class="search" name="search" placeholder="Search...">
        <button type="submit" class="submit">
            <ion-icon name="search-outline"></ion-icon>
        </button>
    </div>
</form>

<hr class="separator">

<div class="results">

    {{#if data}}
        {{#each data}}
        <div class="card">
            <div class="row">
                <img src="http://localhost:3000/{{this.image}}" class="cover" alt="cover">
                <div class="col">
                    <p class="name">{{this.name}}</p>
                    <div class="space-between">
                        <p>{{this.creationDate}}</p>
                        <p>{{this.firstAlbum}}</p>
                    </div>
                </div>
            </div>
            <hr class="card-sep">
            <ul class="card-list">
                {{#each this.members}}
                <li class="card-element">{{.}}</li>
                {{/each}}
            </ul>
        </div>
        {{/each}}
    {{else}}
        <p class="error">
           Any group found.
        </p>
    {{/if}}

</div>

<script src="/js/index.js"></script>